QApplication {
    background-color: #252525;
    color: #f0f0f0;
    margin: 5px;
}

QWidget {
    background-color: #252525;
    color: #f0f0f0;
}

QFrame#config_ui_frame {
    border: 2px solid #999;
    border-radius: 8px;
}

QLabel {
    color: #f0f0f0;
}

QLineEdit#frame_material_input,
QLineEdit#profile_type_input,
QLineEdit#plate_material_input,
QLineEdit#frame_area_output {
    background-color: #ffffff;
    color: black;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
}

QDoubleSpinBox#frame_length_input,
QDoubleSpinBox#frame_height_input,
QDoubleSpinBox#profile_length_input,
QDoubleSpinBox#profile_width_input,
QDoubleSpinBox#plate_thickness_input {
    background-color: #ffffff;
    color: black;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
}

QDoubleSpinBox QLineEdit {
    background-color: #ffffff;
    color: black;
}

QPushButton {
    background-color: #505050;
    border-style: outset;
    border-width: 1px;
    border-radius: 8px;
    padding: 6px;
}

QPushButton:pressed {
    background-color: #333333;
    border-style: inset;
}

QScrollBar:horizontal {
    border: none;
    background: #F5F5F5;
    height: 10px;
    margin: 0px 0px 0px 0px;
    border-radius: 4px;
}

QScrollBar::handle:horizontal {
    background: #888888;
    min-width: 20px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal {
    width: 0px;
    subcontrol-position: right;
    subcontrol-origin: padding;
    border-radius: 4px;

}

QScrollBar::sub-line:horizontal {
    width: 0px;
    subcontrol-position: left;
    subcontrol-origin: padding;
    border-radius: 4px;
}

QScrollBar:vertical {
    border: none;
    background: #F5F5F5;
    width: 10px;
    margin: 0px 0px 0px 0px;
    border-radius: 4px;
}

QScrollBar::handle:vertical {
    background: #888888;
    min-height: 20px;
    border-radius: 4px;
}

QScrollBar::add-line:vertical {
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: padding;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical {
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: padding;
    border-radius: 4px;
}
