QApplication {
    background-color: #252525;
    color: #f0f0f0;
    margin: 5px;
}

QWidget {
    background-color: #252525;
    color: #f0f0f0;
}

QFrame#config_ui_frame {
    border: 2px solid #999;
    border-radius: 8px;
}

QLabel {
    color: #f0f0f0;
}

QLineEdit#frame_material_input,
QLineEdit#profile_type_input,
QLineEdit#plate_material_input,
QLineEdit#frame_area_output {
    background-color: #ffffff;
    color: black;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
}

QDoubleSpinBox#frame_length_input,
QDoubleSpinBox#frame_height_input,
QDoubleSpinBox#profile_length_input,
QDoubleSpinBox#profile_width_input,
QDoubleSpinBox#plate_thickness_input {
    background-color: #ffffff;
    color: black;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
}

QDoubleSpinBox QLineEdit {
    background-color: #ffffff;
    color: black;
}

QPushButton {
    background-color: #505050;
    border-style: outset;
    border-width: 1px;
    border-radius: 8px;
    padding: 6px;
}

QPushButton:pressed {
    background-color: #333333;
    border-style: inset;
}

QScrollArea {
    background-color: #252525;
    color: #f0f0f0;
}

QScrollArea QWidget {
    background-color: #252525;
    color: #f0f0f0;
}

QScrollArea QScrollBar:vertical {
    background-color: #505050;
    width: 15px;
}

QScrollArea QScrollBar::handle:vertical {
    background-color: #f0f0f0;
    border-radius: 7px;
    min-height: 20px;
}

QScrollArea QScrollBar::add-line:vertical,
QScrollArea QScrollBar::sub-line:vertical {
    background-color: #f0f0f0;
    height: 15px;
}

QScrollArea QScrollBar::add-page:vertical,
QScrollArea QScrollBar::sub-page:vertical {
    background-color: #252525;
}
