QApplication {
    background-color: #252525;
    color: #f0f0f0;
}

QWidget {
    background-color: #252525;
    color: #f0f0f0;
}

QLabel {
    color: #f0f0f0;
}

QPushButton#config_ui_button {
    icon: url(src/icons/config_icon_dark.png);
}

QPushButton#theme_button {
    icon: url(src/icons/theme_icon_dark.png);
}

QLineEdit {
    background-color: #505050;
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
}
