QApplication {
    background-color: #f0f0f0;
    color: #252525;
}

QWidget {
    background-color: #f0f0f0;
    color: #252525;
}

QFrame#config_ui_frame {
    border: 2px solid #666;
    border-radius: 8px;
}

QLabel {
    color: #252525;
}

QLineEdit#frame_material_input,
QLineEdit#profile_type_input,
QLineEdit#plate_material_input,
QLineEdit#frame_area_output {
    background-color: #ffffff;
    color: black;
    border: 1px solid #252525;
    border-radius: 4px;
}

QDoubleSpinBox {
    border: 1px solid #252525;
    border-radius: 4px;
}

QDoubleSpinBox QLineEdit {
    background-color: #ffffff;
    color: black;
}

QPushButton {
    background-color: #f5f5f5;
    border-style: outset;
    border-width: 1px;
    border-radius: 8px;
    padding: 6px;
}

QPushButton:pressed {
    background-color: #e2e2e2;
    border-style: inset;
}

QScrollArea {
    background-color: #f0f0f0;
    color: #252525;
}

QScrollArea QWidget {
    background-color: #f0f0f0;
    color: #252525;
}

QScrollArea QScrollBar:vertical {
    background-color: #f5f5f5;
    width: 15px;
}

QScrollArea QScrollBar::handle:vertical {
    background-color: #252525;
    border-radius: 7px;
    min-height: 20px;
}

QScrollArea QScrollBar::add-line:vertical,
QScrollArea QScrollBar::sub-line:vertical {
    background-color: #252525;
    height: 15px;
}

QScrollArea QScrollBar::add-page:vertical,
QScrollArea QScrollBar::sub-page:vertical {
    background-color: #f0f0f0;
}
