@import 'theme.css';

div.document[role="main"] {
    max-width: 800px;
}

li.wy-breadcrumbs-aside {
    display: none;
}

.wy-nav-content {
    min-width: 100%;
    /* height: 100vh; */
}

.wy-side-nav-search .wy-dropdown>a,
.wy-side-nav-search>a {
    font-size: 175%;
    margin-bottom: 5%;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #FFB000;
}