@import url(normalize.css);
@import url(pygment_trac.css);

/*******************************************************************************
Theme Styles
*******************************************************************************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: #373737;
  background: #212121;
  font-size: 18px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 700;
  color: #222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

p {
  font-size: 18px;
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
}

a:hover,
a:focus {
  text-decoration: underline;
}

footer a {
  color: #f2f2f2;
  text-decoration: underline;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: auto;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

.inner-carousel {
  position: relative;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #000000;
  background: url('../images/github-mark.png') #f4c211 no-repeat 95% 50%;
  background-size: 35px;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap {
  background: #212121;
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%) scale(0.1);
  cursor: pointer;
}

.carousel-button img {
  transition: 0.3s ease-in-out;
}

.carousel-button:hover img {
  filter: brightness(50%);
}

.carousel-button.prev {
  left: -10rem;
}

.carousel-button.next {
  right: -10rem;
}

#media_content {
  background: #ffffff;
  height: 100%;
  width: 100%;
}

#carousel_content_wrap {
  position: relative;
  height: 500px;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#about_content,
#features_content,
#media_content,
#documentation_content,
#contact_content,
#error_page_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #212121;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
    font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }
}