QApplication {
    background-color: #252525;
    color: #f0f0f0;
}

QWidget {
    background-color: #252525;
    color: #f0f0f0;
}

QLabel {
    color: #f0f0f0;
}

QPushButton#to_config_button {
    content: url(src/icons/button_icon_dark.png);
}

QPushButton#toggle_theme_button {
    content: url(src/icons/theme_icon_dark.png);
}

QLineEdit {
    background-color: #505050;
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
}
